<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mail.css">
    <title>Document</title>
</head>
<body>
    <td class="esd-stripe" align="center">
    <table class="es-content-body" width="600" cellspacing="0" cellpadding="0" bgcolor="#101727" align="center">
        <tbody>
            <tr>
                <td class="esd-structure" esd-general-paddings-checked="false" align="left">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="esd-container-frame" width="600" valign="top" align="center">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="esd-block-image" align="center" style="font-size: 0px;"><a target="_blank"><img class="adapt-img" src="https://fochgzi.stripocdn.email/content/guids/CABINET_f30650ff14319b261824c1b4040a2c872757ebbd310f9f422a93d5b3fc44f8fe/images/group_1000005053_1.jpg" alt="Happy Halloween" title="Happy Halloween" style="display: block;" height="755"></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</td>
</body>
</html>